<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header class="grid-container header__grid-container">
        <%- include('../partials/header'); %>
</header>

<main class="main-content-enclosure">
    <h1 class="page__title--base col-s__1 col-e__11 row-s__1 row-e__2">Assessment
    </h1>


    <% topicQuizes.forEach(function(topic) { %>
        <h2 class="quiz-topic-overview__title col-s__1 col-e__11 row-s__1 row-e__2"><%= topic.topicTitle %></h2>    
        <section class="grid-container quiz-topic-overview__grid-container">
            <!--<section class="quiz-topic-overview__enclosure grid-container col-s__1 col-e__11">-->
                    <% topic.quizes.forEach(function(quiz) { %>
                        <article class="quiz-topic-overview__quiz-question ">
                            <h2><%= quiz.quizTitle %></h2>
                        </article>
                    <% }); %>
            <!--</section>-->
        </section>
    <% }); %>
        

</main>

<footer class="grid-container">
    <%- include('../partials/footer'); %>
</footer>
<script src = "javascripts/assessment-page2.js"></script>

</body>
</html>